.header{
    grid-area: header;
    background-color: rgb(121, 170, 42);
    background-image: linear-gradient(to top, rgb(121, 170, 42), rgb(209, 156, 58));
}

.header p{
    background-color: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px 15px
}


.header img{
    max-width: 340px;
}

.headerlogo h3{
    color: white;
    text-align: center;
}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
}

.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(121, 170, 42);
    background-image: linear-gradient(to bottom, rgb(121, 170, 42), rgb(209, 156, 58));
    color: white;
    padding: 5px;
    align-items: center;
}

.footer2{
    text-align: center;
}

